@mixin link ($color) {
   font-family: $fontSans;
   font-weight: map-get($f_weight, b);
   color: $color;
}   

@mixin buttonJoinUs () {
    width: 143px;
    height: 49px;
    border-radius: 4px;
    background: #699900;    
    border: 0px;
    color: #fff;
    font: map-get($f_weight, d) 110% $fontSans;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-weight: map-get($f_weight, d);
    // font-size: 110%; 
          
}

body {
    margin: 0px;  
    width: 1920px;    
    
    .header-wrap {        
        background: url("../img/m-h-day.jpg") no-repeat;
        background-position-y: -278px;
        background-size: cover;
        border-bottom-right-radius: 50em 18em;
        padding: 20px 0px 176px 192px;         
        
        .header_heading {
            font-family: $fontSans;
            font-weight: map-get($f_weight, d);
            font-size: 451%; 
            width: 30%;
            line-height: 1em;
            margin-bottom: 38px;
            color: #2c2f3c;                     
        }

        .header_heading::before {
            content: 'awesome';
            color: #2c2f3c; 
            background-color: #14a0c7;
            position: absolute;
            left: 192px;
            top: 230px;
            line-height: 0.4em;    
            height: 50px;   
        }

        .header_text {
            font-family: $fontSans;
            letter-spacing: 0.023em;
            line-height: 1.45em;
            white-space: pre-line;
            color: #2c2f3c;
            margin-bottom: 63px;
        }

        .landing-logo {
            
            p {
                font-family: $fontHind;
                font-weight: map-get($f_weight, e);
                font-size: 150%;
                display: inline-flex;
                flex-direction: column;
                align-items: center; 
                margin: 0px;   
                padding-left: 14px;
                line-height: 0.87em;
                color: #2c2f3c;
            
                span {
                    font-size: 40%; 
                    font-weight: map-get($f_weight, c);                
                }
            }
        }

        div {
            .header_button {
                @include buttonJoinUs;
                margin-right: 149px;
            }
    
            .login {
                @include link (#fff);
                font-size: 125%; 
            }
        }
    }
    
main {

    .section_text {
        text-align: center;
        font-family: $fontHind; 
        font-weight: map-get($f_weight, d);
        font-size: 252%;
        margin: 32px 0px 27px 0px;
        color: #2c2f3c;
    }

    .section_text::before {
        content: 'adventure';
        background-color: #14a0c7;
        position: absolute;
        left: 974px;
        top: 753px;
        line-height: 1.7em;    
        height: 50px; 
        color: #2c2f3c;
    }

    .section_card_wrap {
        .section_card {
            display: flex;
            flex-direction: row;
            margin: 27px 403px 27px 403px; 
            padding: 18px; 
            background: #21232e;
            border: 0px;
            border-radius: 6px; 
            
            .section_card_img {
                border-radius: 6px;
                width: 430px;
                height: 285px;
                flex: none;
            }

            .section_card_right_container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding-left: 88px;
                padding-right: 88px;

                .section_card_heading {
                    color: #fff;
                    font-family: $fontSans;
                    font-size: 150%;
                    font-weight: map-get($f_weight, b);                    
                }

                .section_card_text {
                    color: #b7bbbd;
                    font-family: $fontHind;
                    text-align: justify;  
                    line-height: 1.5em;  
                    font-weight: map-get($f_weight, b);
                }

                .section_link {
                    @include link (#b7bbbd);
                    margin-bottom: 26px;               
                }
            }
        }

        .section_card:nth-child(2) {
           .section_card_img {
                width: 415px;
                height: 275px;
           }
            
        }

        .section_card:nth-child(3) {
            .section_card_img {
                 width: 460px;
                 height: 305px;
            }

            .section_card_right_container {
                .section_card_text {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
             
         }
    }

    .section_banner {
        margin: 138px 361px 0px 361px;
        background: linear-gradient(45deg, #699900, #2c5adc);
        border-radius: 6px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 161px;
        padding-right: 161px;
        position: relative;
        z-index: 200;

        
        .section_banner_text_wrap {
            .section_banner_heading {
                font-family: $fontSans;
                font-weight: map-get($f_weight, d);
                font-size: 190%;                 
                line-height: 1em;                
                color: #2c2f3c;  
                margin-top: 28px;
                margin-bottom: 21px;  
            }

            .section_banner_heading::before {
                content: 'start ';
                background-color: #14a0c7;
                position: absolute;
                left: 284px;
                top: 14px;
                line-height: 1.9em;    
                height: 50px; 
                color: #2c2f3c;
            }

            .section_banner_text {
                color: #b7bbbd;
                font-family: $fontHind;
                font-weight: map-get($f_weight, b);
                margin-bottom: 39px;
                margin-top: 0px;                
            }
   
        }

        .section_banner_button {
           @include buttonJoinUs;                       
        }

    }
} 

footer {
    margin-top: -74px;
    background: #21232e;
    z-index: 100;
    width: 100%;


    .footer-wrap {
        display: flex;
        flex-direction: row;
        padding-top: 111px;
        padding-bottom: 58px;
        
        justify-content: space-around;
        align-items: center;        
    
        .footer_logo {
            padding-right: 85px;
            @extend .landing-logo;
    
            p {
                font-family: $fontHind;
                font-weight: map-get($f_weight, e);
                font-size: 150%;
                display: inline-flex;
                flex-direction: column;
                align-items: center; 
                margin: 0px;   
                padding-left: 14px;
                line-height: 0.87em;
                color: #b7bbbd;
            
                span {
                    font-size: 40%; 
                    font-weight: map-get($f_weight, c);                
                }
            }
        }

        .footer_text {
            color: #b7bbbd;
            font-family: $fontHind;
            text-align: left; 
            font-size: 90%;
            width: 289px;
            line-height: 1.5em;
            margin-left: -20px;          
        }

        .footer-cr {
            color: #b7bbbd;
            font-family: $fontHind;
            text-align: justify; 
            padding-left: 85px; 
        }
        
    }

}

}

.landing-logo {
            
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 45px;

}