$f_weight: (
    a: normal,
    b: 500,
    c: 600,
    d: bold,
    e: 800
);

$backgr: url("../img/m-h-day.jpg") no-repeat;

$fontSans: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;

$buttonColor: #699900;
$gradient1: #699900;
$gradient2:  #2c5adc;
$mainColor: #2c2f3c;
$pseudoColor: #14a0c7;
$bodyColor: #fff;
$sectionColor:  #21232e;

$logoTextFont: 'Hind', sans-serif;
$headingTextFont: 'Source Sans Pro', sans-serif;

