ul {
	padding-left: 15px;
}

li {
	list-style: none;
	cursor: pointer;
}

.item:hover {
	background: #f3f3f3;
}

.material-icons.folder {
	color: #efbd08;
	vertical-align: bottom;
	padding-right: 3px;
}

.material-icons.file {
	color: grey;
}

.empty-folder {
	font-style: italic;
	padding-top: 3px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}