@media print {

    nav, #about, #contact, .tm-team-img, .gallery-container, .carousel-indicators,
    .img-fluid   {
        display: none;
    }

    .tm-section-title, .tm-content-box h2 {
        text-transform: uppercase;
        text-align: center;
        color: lightskyblue;
        font-weight: 300;        
    }

    .tm-section-description {
        text-align: center;
        
    }

    .tm-team-description-container {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .blocks .tm-team-description-container p:nth-child(3){
        word-spacing: 10px;
        letter-spacing: 5px;
        margin: 0;
        font-style: italic;
    }

    .tm-main-content, .padding-medium, .tm-banner, .carousel, .tm-footer {
        padding: 0;
    }

    .tm-banner {
        padding-bottom: 10px;
    }

    .tm-content-box ol {
        list-style:none;
    }

    .tm-content-box ol li:nth-child(odd) {
        margin-right: 200px;
        text-align: right;
    }

    .tm-content-box ol li:nth-child(even) {
        margin-left: 150px;
        text-align: left;
    }

    .tm-content-box {
        margin-bottom: 20px;
    }
   
  }

nav a:hover {
    background-color: lightskyblue;
    color: #fff;
}

.tm-banner {
    background: linear-gradient(45deg, lightskyblue,burlywood);  
    
} 

.tm-banner-inner {
    background-color: white;    
}

#home {
    box-shadow: 0 0 6px 3px rgba(122,122,122,0.5);  
}

.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
}
 
.heading h2 {
    text-transform: uppercase;
    text-align: center;
    color: lightskyblue;
    font-weight: 300;        
}

.tm-content-box ol {
    list-style-type:lower-alpha;
}

.heading li:nth-child(1)::after, .heading li:nth-child(3)::after{
    content: 'New';
    color: red;
    vertical-align: super;
    font-size: 11px;
    font-weight: bold;
    font-variant: small-caps;
}

.heading a:hover::before {
    content: '>';
    font-weight: bold;      
}

.blocks .tm-team-description-container p:nth-child(3){
    word-spacing: 10px;
    letter-spacing: 5px;
    margin: 0;
    font-style: italic;
    text-indent: 1.5em;
}

.blocks .tm-team-description-container p:nth-child(2){
    text-indent: 1.5em;
}