.tm-nav-item-link:hover {
    background-color: lightskyblue;
    color: #fff;
}

.tm-banner {
    background: linear-gradient(45deg, lightskyblue,burlywood);  
    
} 

.tm-banner-inner {
    background-color: white;    
}

.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
    animation: 3s ease go-left; 
}

@keyframes go-left {
    from {
        margin-left: 200px;        
      }
    
      to {
        margin-left: 0%;        
      }
}

#home, section, nav {
    box-shadow: 0 0 10px 1px rgba(61, 55, 61, 0.7);  
}

.heading h2 {
    text-transform: uppercase;
    text-align: center;
    color: lightskyblue;
    font-weight: 300;        
}

.tm-content-box ol {
    list-style-type:lower-alpha;
}

.heading li:nth-child(1)::after, .heading li:nth-child(3)::after{
    content: 'New';
    color: red;
    vertical-align: super;
    font-size: 11px;
    font-weight: bold;
    font-variant: small-caps;
}

.heading a:hover::before {
    content: '>';
    font-weight: bold;      
}

.blocks .tm-team-description-container p:last-child{
    word-spacing: 10px;
    letter-spacing: 5px;
    margin: 0;
    font-style: italic;
    text-indent: 1.5em;
}

.blocks .tm-team-description-container p:nth-child(2){
    text-indent: 1.5em;
}

#contact textarea {
    border: 1px solid lightskyblue;
    background: url("../img/email-icon.png") no-repeat bottom 10px right 10px;
    resize: none;
    background-size: 32px;
    }

#contact_name:focus,
#contact_email:focus,
#contact_subject:focus {
    background-color: lightskyblue;    
    color: #55595c;
}

#contact_name,
#contact_email,
#contact_subject {
    border: none;
    border-bottom: 1px solid lightskyblue;
   
}

#contact textarea {
    resize: both;
}
.submit-btn {
    color: lightskyblue;
    border: 1px solid lightskyblue;
    background-color: #fff;
    display: block;
    margin-left: auto;
    width: 100px;
    height: 55px;     
}

p.tm-section-description {
    text-indent: 25px;
    line-height: 30px;
} 

.flex-2-col {
    display: flex;
    align-items: center; 
    justify-content: center;
   
}

.flex-2-col h2 {
    text-align: center;
}

.blocks .flex-2-col {
    display: none;
    content: none;
}

.gallery-container .tm-section-title:hover {
    background-color:lightgrey;
    color: lightskyblue;
    font-style: italic;
}

.box-work p:first-letter {
    font-weight: bold; 
}

.box-work p {
    font-style: italic; 
}

li.box-work:nth-child(odd) {
    background-color: lightskyblue;
    color: white;    
}

.box-work {
   padding: 10px; 
}

#ideas::before,
section::before
{
    content: '';
    border:20px solid transparent;
    border-left: 20px solid lightskyblue;
    border-top: 20px solid lightskyblue;
    position: absolute;
}

@media print {

    nav, #about, #contact, .tm-team-img, .gallery-container, .carousel-indicators,
    .img-fluid, .heading li:nth-child(1)::after, .heading li:nth-child(3)::after, #ideas::before,
    section::before   
    {
        display: none;
    }

    .tm-section-title, .tm-content-box h2 {
        text-transform: uppercase;
        text-align: center;
        color: lightskyblue;
        font-weight: 300;        
    }

    .tm-section-description {
        text-align: center;
        
    }

    .tm-team-description-container {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .blocks .tm-team-description-container p:nth-child(3){
        word-spacing: 10px;
        letter-spacing: 5px;
        margin: 0;
        font-style: italic;
    }

    .tm-main-content, .padding-medium, .tm-banner, .carousel, footer.tm-footer {
        padding: 0;
    }

    .tm-banner, .blocks .flex-item {
        margin-bottom: 15px;
    }

    .tm-content-box ol {
        list-style:none;
    }

    .tm-content-box ol li:nth-child(odd) {
        margin-right: 200px;
        text-align: right;
    }

    .tm-content-box ol li:nth-child(even) {
        margin-left: 150px;
        text-align: left;
    }

    .tm-content-box {
        margin-bottom: 18px;
    }

    p.tm-section-description {
        text-indent: 25px;
        line-height: 1.5;
    } 

       
  }